@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@200;400;600&display=swap");

body {
  font-family: "Heebo", sans-serif;
}

.rectangle {
  background-image: url(assets/DateRectangle.png);
  background-repeat: no-repeat;
  width: 62px;
  text-align: center;
  color: white;
  font-weight: 900;
  
  

}